.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  -webkit-box-shadow: 8px 8px 17px rgba(107, 7, 50, 0.75);
  -moz-box-shadow:    8px 8px 17px rgba(107, 7, 50, 0.75);
  box-shadow:         8px 8px 17px rgba(107, 7, 50, 0.75);
}

.container h1 {
  font-size: 17pt;
}

.accounts{
  font-size: .7em;
  line-height: 1em;
  text-shadow: none;
  text-align: left;
}

.welcome{
  padding: 0.2em;
  text-align: center;
  text-shadow: 4px 5px 5px rgba(150, 150, 150, 0.77);
  font-size: 2em;
}

.title_img{
  position:fixed;
  left:0px;
  bottom:0px;
  height:10em;
}

nav {
  display: inline;
  width: 100%;
  height: 40px;
  font-weight: bold;
}

.brand{
  text-shadow: 2px 2px 2px rgba(107, 7, 50, 0.56);
}
nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: gray;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
}

.errors {
  color: red;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}